*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
.idea
cmake-build-debug
cmake-build-release
cmake-build-*
[T]emp
*.exe
.vscode
.vs
*.vcxproj*
cmake_install.cmake
*.sln
CMakeCache.txt
build
Debug
_deps
CMakeFiles
*.swp
*.ilk
*.pdb
.fleet
.cache